@model PizzaShop.DataAccess.ViewModels.MenuOrderAppViewModel;
<div class="d-flex flex-wrap gap-3 mx-auto mt-3 justify-content-center justify-content-xxl-start ">
            @if (Model.ItemsList.Count() == 0)
            {
                <div class="text-center text-secondary">No Items Available</div>
            }
            else
            {
                @foreach (var item in @Model.ItemsList)
                {
                    <div class="menu-item-kot-div d-flex shadow-sm cursor-pointer item-card" data-id="@item.Id" data-data='@Html.Raw(Json.Serialize(item))'>
                        <div class="kot-menu-item-image-div shadow p-1 ">
                            <div class="w-100 h-100">
                                <img src="~/images/@(item.Itemimage != null ? item.Itemimage : "dining-menu.png")"
                                    class="w-100 h-100 border-kot-menu-item-image object-fit-cover" alt="">
                                @* <img src="~/images//ItemImages/fbd6e9c8-2d93-4a9a-8289-271789780f94.jfif" class="" alt="icon"> *@
                            </div>
                        </div>
                        <div class="d-flex flex-column justify-content-between w-100 p-1">
                            <div class="d-flex flex-column" >
                                <div class="d-flex">
                                    <p class=" p-1 mb-0 fw-medium">@item.Name</p>
                                </div>
                                @if (item.Itemtype == "Veg")
                                {
                                    <div class="top-right-border-veg"></div>
                                }
                                else if (item.Itemtype == "Non-Veg")
                                {
                                    <div class="top-right-border-nonveg"></div>
                                }
                                else
                                {
                                    <div class="top-right-border-vegan"></div>
                                }
                            </div>
                            <div class="d-flex justify-content-between align-items-center pe-2">
                                <div class="d-flex w-75">
                                    <p class="w-100 p-1 mb-0 fw-medium">₹ @item.Rate</p>
                                </div>
                                <div class="p-2">
                                    @if (item.Isfavourite == true)
                                    {
                                        <i class="fa-solid fa-heart text-danger favourite-btn" data-id="@item.Id"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-regular fa-heart favourite-btn" data-id="@item.Id"></i>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                }
            }
        </div>